<h2>Useful Links</h2>
<p>
  Favorite food blog?<br>
  Goofiest YouTube video?<br>
  <a href="mailto:rhg259@nyu.edu?Subject=Bobfathers%20Link%20Suggestions" target="_blank">Suggest a link!</a>
</p>
<section>
  <h3>Bobfathers</h3>
  <ul>
    <li><a href="https://groups.google.com/a/nyu.edu/forum/#!forum/cas-cohort-15-2016-group" target="_blank">Google Group</a></li>
    <li><a href="mailto:scott.statland@nyu.edu" target="_blank">Say hello to Scott!</a></li>
    <li><a href="https://www.facebook.com/groups/203818526427920/" target="_blank">Facebook Group</a></li>
  </ul>
</section>
<section>
  <h3>NYU</h3>
  <ul>
    <li><a href="http://www.nyu.edu/sustainability/campus.projects/bike.share/" target="_blank">NYU Bike Share</a></li>
    <li><a href="http://www.nyu.edu/life/student-life/getting-involved/museum-gateway.html" target="_blank">NYU Museum Gateway</a></li>
    <li><a href="http://www.osa.nyu.edu/directory/" target="_blank">NYU Club Directory</a></li>
    <li><a href="http://www.campusdish.com/en-US/CSE/NYU/MealPlans/" target="_blank">Modify Meal Plan</a></li>
  </ul>
</section>
<section>
  <h3>NYC</h3>
  <ul>
    <li><a href="http://citibikenyc.com/" target="_blank">Citi Bike</a></li>
    <li><a href="http://seatgeek.com/" target="_blank">SeatGeek</a></li>
    <li><a href="http://www.zagat.com/new-york-city" target="_blank">Zagat - NYC</a></li>
  </ul>
</section>