<% provide(:title, 'Blog') %>
<h1>Blog</h1>
<div class="row">
  <aside id="blog_links" class="span3">
    <%= render 'links' %>
  </aside>
  <div id="blog" class="span9">
    <h2>Bobfathers 2.0</h2>
    <p>
      Happy first week back at school; whether it's here at Washington Square or
      somewhere far, far away at one of our global sites. (Brooklyn?)
      <br><br>

      This past Tuesday, I attended the Residential College Convocation with
      those of you who live in Broome. In the convocation, one of our Faculty
      Fellow in Residence (FFIR) talked about the meaning of family and how that
      word gets tossed around so often that it loses meaning. My parents and
      brother. Broome. My fraternity, Phi Kappa Sigma. Some of the clubs I'm
      involved in. Even the university uses it in much of its literature. All of
      these organizations use the term 'family,' but in very different ways.
      <br><br>

      I'm not here to make us into a family. Neither is Scott or Maddie.
      <br><br>

      I am here, however, to grab coffee with you. And eat Insomnia Cookies with
      you. And maybe even go to Coney Island, see a musical, and explore NYC;
      all with you wonderful people.
      <br><br>

      We're all busy with school and work. I sympathize with you (you can find
      me in Bobst LL1 most days between the hours of noon and 2am). No cohort
      events will be mandatory. I don't intend to burden your calendar.
      <br><br>

      I created this site so my fellow bobfathers can have a more active role in
      planning fun events that they want to attend. We live in NYC. We have an
      $800 budget. Go crazy.
      <br><br>

      <em>Adventure Awaits.</em>
      <br><br>
      
      <span class="signature">Bob Gardner</span>
      <br>
      Head Bobfather
    </p>
  </div>
</div>