<% provide(:title, 'Blog') %>
<h1>Blog</h1>
<div class="row">
  <aside id="blog_links" class="span3">
    <%= render 'links' %>
  </aside>
  <div id="blog" class="span9">
    <article class="blog_post">
      <h2>January Term</h2>
      <p>
        Happy holidays everyone! I hope everyone's having a relaxing break so
        far; still lots of time left.
      </p>
      <p>
        Just got back to the city after a few weeks back home. I'll be in NYC
        all of January if anyone wants to hang out or grab a bite to eat.
      </p>
      <p>
        Just a quick update on the budget. We still have almost $600 for the
        rest of the year (well, January through May). I'd like to do something
        more fun with this than just cookies and dinners. I'll be reaching out
        to a few of you over the next few weeks with some ideas in mind, but I'd
        like to make this as democratic as possible. Please reach out to me
        sooner if there's anything you're looking for. I'll be getting in touch
        with everyone again at the start of the semester.
      </p>
      <p>
        Enjoy the rest of break. My cell number is (425) 614-9938 if you're in
        the city and want to hang out.
      </p>
      <p>
        <span class="signature">Bob Gardner</span>
        <br>
        Head Bobfather
      </p>
    </article>
    <article class="blog_post">
      <h2>Bobfathers 2.0</h2>
      <p>
        Happy second week back at school; whether it's here at Washington Square
        or somewhere far, far away at one of our global sites. (Brooklyn?)
      </p>
      <p>
        Last Tuesday, I attended the Residential College Convocation with
        those of you who live in Broome. In the convocation, one of our Faculty
        Fellow in Residence (FFIR) talked about the meaning of family and how
        that word gets tossed around so often that it loses meaning. My parents
        and brother. Broome. My fraternity, Phi Kappa Sigma. Some of the clubs
        I'm involved in. Even the university uses it in much of its literature.
        All of these organizations use the term 'family,' but in very different
        ways.
      </p>
      <p>
        I'm not here to make us into a family. Neither is Scott or Maddie.
      </p>
      <p>
        I am here, however, to grab coffee with you. And eat Insomnia Cookies
        with you. And maybe even go to Coney Island, see a musical, and explore
        NYC; all with you wonderful people.
      </p>
      <p>
        We're all busy with school and work. I sympathize with you (you can find
        me in Bobst LL1 most days between the hours of noon and 2am). No cohort
        events will be mandatory. I don't intend to burden your calendar.
      </p>
      <p>
        I created this site so my fellow bobfathers can have a more active role
        in planning fun events that they want to attend. We live in NYC. We have
        an $800 budget. Go crazy.
      </p>
      <p>
        <em>Adventure Awaits.</em>
      </p>
      <p>
        <span class="signature">Bob Gardner</span>
        <br>
        Head Bobfather
      </p>
    </article>
  </div>
</div>