<% provide(:title, 'Feedback') %>
<h1>Feedback</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@message) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Submit Feedback", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>