<% provide(:title, "Ideas") %>
<div class="row">
  <aside class="span3">
    <section>
      <h2>Welcome to the official NYU CAS Cohort 15 website!</h2>
      Latest blog post: <%= link_to "January Term", blog_path %>
    </section>
    <section>
      I'd like to throw some awesome events this year and to do that I need your
      help! Here you can suggest events and dates for the cohort. Go crazy!
      Anything's fair game (except events that violate the university's
      policies).
    </section>
    <section>
      <h3>Suggest Idea</h3>
      <%= render 'idea_form' %>
    </section>
  </aside>
  <div class="span9">
    <h1>Ideas Suggested by the Bobfathers</h1>
    <%= render 'ideas_feed' %>
  </div>
</div>
