<!DOCTYPE>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
</head>
<body>
  <h1><%= @message.subject %></h1>
  <p>
    <%= @message.content %>
  </p>
  <%= link_to @message.name, "mailto:#{@message.email}" %>
</body>
</html>